playerhtml, body {
  background: #1a1a1a;
  height: 100%;
  margin:0;
  overflow: hidden;
  cursor: crosshair;
}
#content {
  height: 100%;
  margin: 0;
}
.panel {
  display: block;
  margin: auto;
  position: relative;
  background: #363636;
}
.craftIcon {
  fill: #363636;
  stroke-width: 1px;
}
.craftIconDetail {
  fill: #363636;
  stroke-width: 0.5px;
}
.enemy {
  stroke: #ff3c3c;
}
.player {
  stroke: #00ff66;
}
.enemyDead {
  stroke: #771c1c;
}
.playerDead {
  stroke: #006e2c;
}
.spawnPoint {
  fill: none;
  stroke-width: 3px;
  stroke-dasharray: 1 10;
}
.wepsRangeCircle {
  fill: none;
  fill-opacity: 0.01;
  stroke-width: 0.15px;
  stroke-dasharray: 10 5;
}
.wepFire0 {
  fill: none;
  stroke: #b700ff;
  stroke-width: 1px;
}
.wepFire1 {
  fill: none;
  stroke: #ffbf00;
  stroke-width: 1px;
}
.wepFire2 {
  fill: none;
  stroke: #00d7ff;
  stroke-width: 2px;
}
.craftIconText {
  font: 0.75rem B612 Mono;
  stroke: none;
  fill: #c9c9c9;
  user-select: none;
}
.enemyFill {
  fill: #ff0000;
}
.playerFill {
  fill: #00ff66;
}
.standardSelector {
  fill: none;
  stroke: none;
}
.standardBracket {
  fill: none;
  stroke: #ffb500;
  stroke-width: 2px;
}
.standardSelector:hover {
  stroke: #ffb500;
  stroke-width: 2px;
}
.invisibleBox {
  fill: rgba(175, 128, 168, 0);
  stroke: none;
}
.frame {
  fill: none;
  stroke-width: 1px;
  stroke: #ffffffff;
}
.standardBox{
  fill: #363636;
  stroke-width: 1px;
  stroke: #ffffffff;
}
.standardBoxSelectable {
  fill: #363636;
  stroke-width: 1px;
  stroke: #ffffffff;
}
.standardBoxSelectable:hover {
  stroke: #ffb500;
  stroke-width: 2px;
}
.scaleEmpty {
  fill: #363636;
  stroke-width: 1px;
  stroke: #ffffffff;
}
.scaleFull {
  fill: #ffffffff;
  stroke-width: 1px;
  stroke: #ffffffff;
}
.craftDataText {
  font: 1rem B612 Mono;
  stroke: none;
  fill: #ffffffff;
  user-select: none;
}
.UIcon {
  fill: #363636;
  stroke-width: 3px;
  stroke: #ffffffff;
}
.grid {
  stroke-width: 0.5px;
  stroke: #a3a3a3ff;
  fill: #474747;
}
.gridBold {
  stroke-width: 0.5px;
  stroke: #a3a3a3ff;
  fill: none;
}
.vector {
  fill: none;
  stroke: #ffffffff;
  stroke-width: 0.5px;
  stroke-dasharray: 2 2;
}
.dataText {
  font: 0.8rem B612 Mono;
  stroke: none;
  fill: #ffffffff;
  user-select: none;
}
.pathLine {
  stroke: #ffffff;
  stroke-width: 1px;
  stroke-dasharray: 10 2;
}
.pathLineAttack {
  fill: none;
  stroke: #ff0000;
  stroke-width: 1px;
  stroke-dasharray: 10 2;
}
.signText {
  font: 10rem B612 Mono;
  stroke: none;
  fill: #ffffffff;
  user-select: none;
  opacity: 0.1
}
.signTextSmall {
  font: 2.5rem B612 Mono;
  stroke: none;
  fill: #ffffffff;
  user-select: none;
  opacity: 0.1
}
.signTextExtra {
  font: 12rem B612 Mono;
  stroke: none;
  fill: #ffffffff;
  user-select: none;
  opacity: 0.1;
}
.wepHardPointLance {
  fill: #ffffffff;
  stroke-width: 0px;
}
